%style
  :sass
    .begone
      opacity: 0

    .wf-loading
      h1, nav, div[role=main], body > footer
        opacity: 0

      h1
        -webkit-transform: translateY(-5em)
        -moz-transform:    translateY(-5em)
        -ms-transform:     translateY(-5em)
        -o-transform:      translateY(-5em)
        transform:         translateY(-5em)

      div[role=main]
        -webkit-transform: translateY(.5em)
        -moz-transform:    translateY(.5em)
        -ms-transform:     translateY(.5em)
        -o-transform:      translateY(.5em)
        transform:         translateY(.5em)

      body
        background: 
          image: url(data:image/gif;base64,R0lGODlhEAALAPQAAP///wAAANra2tDQ0Orq6gYGBgAAAC4uLoKCgmBgYLq6uiIiIkpKSoqKimRkZL6+viYmJgQEBE5OTubm5tjY2PT09Dg4ONzc3PLy8ra2tqCgoMrKyu7u7gAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA)
          position: center center
          repeat: no-repeat

    h1, nav, div[role=main], footer
      opacity: 1
      -webkit-transition: opacity 1s ease-in-out, -webkit-transform .5s ease-in-out
      -moz-transition:    opacity 1s ease-in-out,    -moz-transform .5s ease-in-out
      -ms-transition:     opacity 1s ease-in-out,     -ms-transform .5s ease-in-out
      -o-transition:      opacity 1s ease-in-out,      -o-transform .5s ease-in-out
      transition:         opacity 1s ease-in-out,         transform .5s ease-in-out

    div[role=main]
      -webkit-transition-delay: .5s
      -moz-transition-delay:    .5s
      -ms-transition-delay:     .5s
      -o-transition-delay:      .5s
      transition-delay:         .5s

    nav, footer
      -webkit-transition-delay: 1.5s
      -moz-transition-delay:    1.5s
      -ms-transition-delay:     1.5s
      -o-transition-delay:      1.5s
      transition-delay:         1.5s

:javascript
  WebFontConfig = {
    google: { families: [ 'Lato:400,700:latin', 'PT+Sans::latin', 'PT+Mono::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
