%section#index
  .vcard
    :markdown
      Hi, I'm <a href="http://gf3.ca" class="fn url">Gianni</a> (aka <span
        class="nickname">gf3</span>).

      I'm a programmer, designer &amp; generally important person. I hail from
      <span class="adr"><span class="locality">Victoria</span>, <span
      class="country-name">Canada</span></span>. Right now I'm the *<span
      class="role">Chief Rigger</span>* at <a href="http://metalabdesign.com" 
      class="org subtle">MetaLab</a>.

      I like to play with things like <a href="https://github.com/gf3"
      class="subtle">languages &amp; operating systems</a>. And then I like to
      mess about with <a href="http://dribbble.com/gf3"
      class="subtle">sketchbooks &amp; designs</a>.

      I vomit my opinions via <a href="//twitter.com/gf3" class="em">@gf3</a> and
      ignore all emails sent to <a href="mailto:gianni@runlevel6.org"
      class="email">gianni@runlevel6.org</a>.

